body{
    background-color: rgb(38, 0, 255);
    color:aliceblue;
    font-family:aliceblue;
    display: flex;
    justify-content: center;
    alingn-items: center;
    height: 700px;
    margin: 0;
}
 button{
    background: red;
    color: beige;
    font-family: 'Courier New', Courier, monospace;
 }
 .passo{
    display: none;
 }
 .passo.ativo{
    display: block;
 }
 main{
    text-align: center;
    max-width: 90%;
 }
 img{
    max-width: 90%;
 
 }